.cards-container {
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sedans-card {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.suvs-card {
  background-color: #196072;
}
.luxury-card {
  background-color: hsl(179, 100%, 13%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.learn-more-btn {
  border-radius: 50px;
  font-weight: bold;
  align-self: flex-start;
  font-family: "Big Shoulders Display", "sans-serif";
  padding: 10px;
  margin: 10px 50px;
  height: 40px;
  width: 120px;
  border: none;
  font-family: "Lexend Deca", "sans-serif ";
}
.card-title {
  color: white;
  margin-left: 50px;
  margin-bottom: 15px;
  font-family: "Big Shoulders Display", "sans-serif";
}

.container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin: 50px 10px;
}
.description {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  font-family: "Lexend Deca", "sans-serif ";
  line-height: 1.5;
}

.sedans-button {
  color: hsl(31, 77%, 52%);
}
.suvs-button {
  color: #196072;
}
.leuxury-btn {
  color: hsl(179, 100%, 13%);
}

.car-icon {
  width: 64px;
  height: 40;
  margin-left: 50px;
}
